/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/_ide_helper*
_ide_helper*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.buildpath
.project
/.phpstorm.meta.php
.settings/
nbproject/*
config/keys/widthdrawal_thirds
composer.lock
.DS_store
*/.DS_store
service
